!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/config.yml
*$py.class
*.7z
*.BMP
*.FLV
*.SWF
*.bak
*.bmp
*.class
*.cover
*.dll
*.dmg
*.egg
*.egg-info/
*.exe
*.flv
*.gz
*.iso
*.jar
*.log
*.manifest
*.mo
*.mp4
*.o
*.out
*.pot
*.py,cover
*.py[cod]
*.pyc
*.rar
*.sage.py
*.so
*.spec
*.swf
*.swp
*.tar
*.xlsx
*.zip
*~
.*cache
.AppleDB
.AppleDesktop
.AppleDouble
.DS_*
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Python
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
._.DS_Store
.apdisk
.bzr
.cache
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.dmypy.json
.eggs/
.elasticbeanstalk/*
.env
.env-testing
.fseventsd
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pdm-build/
.pdm-python
.pdm.toml
.pybuilder/
.pyre/
.pytest_cache/
.pytype/
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.webassets-cache
/site
ENV/
Icon
MANIFEST
Network Trash Folder
Temporary Items
Thumbs.db
__pycache__/
__pypackages__/
bin
build/
celerybeat-schedule
celerybeat.pid
chunk_*.txt
cover/
coverage-report
coverage.xml
create_tables.sql
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env.bak/
env/
htmlcov/
httpd/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
lost+found/
mock_CDN/
my_CDN
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
postgres-data/
profile_default/
sdist/
share/python-wheels/
src/core/settings/local.py
target/
testing*.db
var/
venv.bak/
venv/
wheels/
zzz.diff
