# Default editor
EDITOR=vi
VISUAL=vi

# User
USERNAME=vscode
USER_UID=3000
USER_GID=$USER_UID

# Git
GIT_USER_EMAIL=you@domain.com
GIT_USER_NAME="Django Hero"

# Timezone
TZ=America/Chicago

# Set in core.settings.local
DEBUG=True

# python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
DJANGO_SECRET_KEY=''

# The decouple package reads this in core.settings.base,
DJANGO_ALLOWED_HOSTS='127.0.0.1,localhost'
ALLOWED_HOSTS='127.0.0.1,localhost'

# Django v5.1
DJANGO_SUPERUSER_USERNAME=NotUsername
DJANGO_SUPERUSER_PASSWORD=NotGoodPassword
DJANGO_SUPERUSER_EMAIL=you@domain.com

# MySQL 9.2
MYSQL_ROOT_PASSWORD=NotGoodPassword
MYSQL_DATABASE=Nexxus
MYSQL_USER=MySQLUser
MYSQL_PASSWORD=NotGoodPassword
