name: Draft Release

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  update:
    if: github.event.pull_request.merged == true && !contains(github.head_ref, 'release/')

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Update Draft Release
        uses: release-drafter/release-drafter@v6
        with:
          config-name: release-drafter.yml
          disable-autolabeler: true
          publish: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
