name: PR Agent

on:
  issue_comment:
    types:
      - created
  pull_request:
    types:
      - opened
      - synchronize

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  pr_agent_job:
    runs-on: ubuntu-latest

    if: ${{ github.event.sender.type != 'Bot' }}

    steps:
      - name: PR Agent Action Step
        uses: qodo-ai/pr-agent@v0.31
        env:
          CONFIG.CUSTOM_MODEL_MAX_TOKENS: 64000
          CONFIG.MODEL: "gemini/gemini-2.5-flash"
          GITHUB_ACTION.AUTO_DESCRIBE: true
          GITHUB_ACTION.AUTO_IMPROVE: false
          GITHUB_ACTION.AUTO_REVIEW: false
          GITHUB_ACTION.HANDLE_PUSH_TRIGGER: true
          GITHUB_ACTION.PUSH_COMMANDS: '["/describe"]'
          GITHUB_ACTION_CONFIG.PR_ACTIONS: '["opened", "synchronize"]'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GOOGLE_AI_STUDIO.GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          PR_CODE_SUGGESTIONS.COMMITABLE_CODE_SUGGESTIONS: true
